@import "_button.css";
@import "_font_size.css";
@import "_fonts.css";
@import "_flex.css";
@import "_forms.css";

:root {
    --main-text-color: #1D1D1D;
    --branch-color: #359EC7;
}

html,
button,
input,
select,
textarea{
    font-size: 12px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 500;
    color: var(--main-text-color);
}

.container {
    margin: 0 auto;
    max-width: 390px;
}

.page-head {
    padding: 13px 15px;
}

.page-content {
    padding: 10px 15px;
}