.container {
    word-spacing: 0.5;
}

.page {
    margin: 0 15px;
}

.font-outfit-bold {
    font-family: 'Outfit';
    font-weight: 700;
}

.font-outfit-medium {
    font-family: 'Outfit';
    font-weight: 500;
}

.js-manage .page-head{
    padding: 13px 0;
    margin-bottom: 13px;
}

.header {
    margin-bottom: 45px;
}

.header-top {
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 10;
    left: 50%;
    transform: translateX(-50%);
    box-sizing: border-box;
    background-color: #fff;
    padding: 10px;
    max-width: 390px;
}

.header-icon {
    display: flex;
    gap: 15px;
}

.header-botom {
    margin-top: 45px;
    display: flex;
}

.header-input {
    width: 100%;
    position: relative;
}

.header-input input {
    padding: 10px 0 10px 30px;
    border-radius: 20px;
    border: none;
    background-color: #F2F2F2;
    width: 100%;
    box-sizing: border-box;
}

.header-input i {
    position: absolute;
    top: 15px;
    left: 15px;
    color: #BFBFBF;
    font-size: 10px;
}

.header-qrcode {
    height: 35px;
}

.header-qrcode i {
    font-size: 20px;
    line-height: 35px;
}

.icon {
    width: 23px;
    height: 23px;
    border-radius: 50%;
    color: #000000;
    border: 1px solid #000;
    position: relative;
}

.icon .item {
    position: absolute;
    top: 7px;
    left: 7px;
}

.item .fa-circle-small {
    position: absolute;
    font-size: 20px;
}

.header-bottom {
    display: flex;
}

.title {
    font-size: 18px;
    font-weight: 700;
}

.buttons {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 700;
}

.content {
    margin-top: 40px;
}

.row-item .fa-location-dot {
    position: absolute;
    left: 0;
}

.slider-content {
    -ms-overflow-style: none;
    scrollbar-width: none;
    display: flex;
    gap: 20px;
    overflow: auto;
    width: 100%;
    margin-top: 20px;
}

.slider-content::-webkit-scrollbar {
    width: 0px;
}

.slider-content-item {
    border: 1px solid #E4E4E4;
    min-width: 200px;
    padding: 20px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.box-success {
    border: 1px solid #41BA7266;
}

.row:nth-child(1) {
    color: #1D1D1D;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 700;
}

.feature .row:nth-child(1) i {
    color: #888888;
    font-size: 14px;
    margin-right: 5px;
}

.box-success .row:nth-child(1) {
    color: #41BA72;
}

.box-error {
    border: 1px solid #F04F4F66;
}

.box-error .row:nth-child(1) {
    color: #F04F4F;
}

.box-violet {
    border: 1px solid #7566ED66;
}

.box-violet .row:nth-child(1) {
    color: #7566ED;
    font-weight: 700;
}

.box-date-ping {
    color: #ff809d;
}

.box-date-blue {
    color: #74c0ff;
}


.box-none .slider-content-item {
    border: none !important;
    display: none;
}

.box-none {
    text-align: center;
    min-width: 200px;
}

.box-none .none {
    display: block;
    color: #bfbfbf;
    padding: 30px;
    font-size: 12px;
}

.box-none .row {
    display: none;
    padding: 20px;
}

.row:nth-child(2) {
    margin-bottom: 15px;
}

.row-item {
    font-weight: 700;
    position: relative;
    padding-left: 15px;
    margin-bottom: 10px;
}

.slider-container {
    display: none;
}

.box-date {
    min-height: 14px;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Outfit';
    padding: 10px 0px;
    margin-bottom: 10px;
}

.warning {
    text-align: center;
    margin-top: 20px;
}

.label-warning {
    color: #888888;
    font-size: 10px;
    letter-spacing: 2px;
}

.showmore {
    display: flex;
    justify-content: space-between;
}

.showmore button {
    border: none;
    background-color: #fff;
    font-weight: 700;
    color: #359EC7;
}

.row:nth-child(2) i,
.row:nth-child(3) i {
    color: #888888;
}

.active {
    display: block !important;
}

.btn {
    color: #BFBFBF;
    background: #fff;
    border: none;
    font-weight: 700;
    font-size: 14px;
}

.btn.btn_active {
    color: #359EC7;
}

input::placeholder {
    color: #BFBFBF;
    font-size: 10px;
}

.fa-circle-user {
    font-size: 25px;
    color: #7566ED;
}

.fa-qrcode {
    margin-left: 15px;
}

.fa-circle-exclamation {
    color: red;
    margin-left: 5px;
}

.btn_primary {
    color: #000;
}

.btn_primary i {
    margin-right: 10px;
}

.label {
    margin-top: 30px;
}

.lable-time {
    background-color: #E4E0FF;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 14px;
}

.lable-time_ping {
    color: #FF809D;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 14px;
}

.lable-time_blue {
    color: #74C0FF;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 14px;
}



.manage-time {
    text-align: center;
    margin: 20px auto
}

.manage-none {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr !important;
}

.manage-list-item {
    width: 100%;
    grid-gap: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.manage-input{
    margin: 20px 0;
    position: relative;
}

.manage-input .fa-magnifying-glass{
    position: absolute;
    top: 15px;
    left: 10px;
    color: #BFBFBF;

}
.manage-input input::placeholder{
    color: #1D1D1D;
}

.manage-input input{
    width: 100%;
    box-sizing: border-box;
    padding: 10px 30px;
    border-radius: 20px;
    border: none;
    background-color: #F2F2F2;
}

.manage-list-item .slider-content-item {
    min-width: 150px;
    padding: 20px 10px;
    border-radius: 10px;
}
.manage-detail{
    margin: 0 15px;
}

.manage-detail .buttons {
    margin: 15px;
    width: 100%;
}

.none,
.hidden,
.manage-container-tab {
    display: none;
}

.alert-success .alert-text {
    font-size: 16px;
    font-weight: 700;
    color: #41BA72;
    position: relative;
    padding-left: 25px;
    margin: 35px 0 20px 20px;
}

.alert-violet .alert-text {
    font-size: 16px;
    font-weight: 700;
    color: #7566ED;
    position: relative;
    padding-left: 25px;
    margin: 35px 0 20px 20px;
}

.alert-error .alert-text {
    font-size: 16px;
    font-weight: 700;
    color: #F04F4F;
    position: relative;
    padding-left: 25px;
    margin: 35px 0 20px 20px;
}

.fa-angle-right{
    right: 25px;
    color: #359EC7;
}

.js-popup-alert .fa-angle-right{
    position: absolute;
    right: 25px;
    color: #359EC7;
}

.fa-calendar-day {
    position: absolute;
    left: 0;
}

.alert-success{
    border: 1px solid #41BA7266;
    width: 100%;
    position: fixed;
    bottom: -100px;
    border-radius: 10px 10px 0 0;
    z-index: 10;
    border-bottom: none;
    animation: showAlert 1s 1 ease forwards;
    box-sizing: border-box;
    overflow: hidden;
    max-width: 370px;
    background: #fff;
    min-height: 200px;
    margin: 0 10px;
}

.alert-violet{
    border: 1px solid #7566ED66;
    width: 100%;
    position: fixed;
    bottom: -100px;
    border-radius: 10px 10px 0 0;
    z-index: 10;
    border-bottom: none;
    animation: showAlert 1s 1 ease forwards;
    box-sizing: border-box;
    overflow: hidden;
    max-width: 370px;
    background: #fff;
    min-height: 200px;
    margin: 0 10px;
}

.alert-error{
    border: 1px solid #F04F4F66;
    width: 100%;
    position: fixed;
    bottom: -100px;
    border-radius: 10px 10px 0 0;
    z-index: 10;
    border-bottom: none;
    animation: showAlert 1s 1 ease forwards;
    box-sizing: border-box;
    overflow: hidden;
    max-width: 370px;
    background: #fff;
    min-height: 200px;
    margin: 0 10px;
}

.alert-item{
    padding: 10px 45px;
    font-size: 12px;
    font-weight: 700;
    position: relative;
    cursor: pointer;
    margin-bottom: 20px;
    letter-spacing: 0.6;
}

.alert-item:nth-child(2){
    padding: 10px 65px;
}

.downAlert{
    animation: hiddenAlert 1s 1 ease forwards;
}

@keyframes showAlert{
    from{
        top: 100%;
        opacity: 0.5;
    }

    to{
        top: 70%;
        opacity: 1;
    }
}

@keyframes hiddenAlert{
    from{
        top: 70%;
        opacity: 1;
    }

    to{
        top: 100%;
        opacity: 0;
    }
}



